<md-list>
    <h3 md-subheader>Paisos</h3>
    <md-list-item *ngFor="let user of users" >
        <h3 md-line> {{user.name}} </h3>
        <p md-line>
            <md-icon md-list-icon>keyboard_arrow_right</md-icon>
            <a [routerLink]="['/user/detail/' + user.alpha2_code]" class="demo-2"> {{user.alpha2_code}} </a>
        </p>
        </md-list-item>
</md-list>