<div class="columns userDetail">
    <div class="column is-3">
    </div>
    <div class="column is-6">
        <md-card >
        <md-card-title>
            {{title}}
        </md-card-title>
        <md-card-content>
        <ul>
            <li>{{userDetails?.name}}</li>
            <li>{{userDetails?.alpha2_code}}</li>
            <li>{{userDetails?.alpha3_code}}</li>
        </ul>
    </md-card-content>
        </md-card>
    </div>
    <div class="column is-3">
    </div>  
</div>