<md-toolbar>
  <a [routerLink]="['/']"> Angular TS Example </a>
    <span class="spacer"></span>
    <button md-raised-button color="accent" class="white-text" [routerLink]="['/home']" flat>Home</button>
    <button  md-raised-button color="accent" class="white-text" [routerLink]="['/user']" flat>Users</button>
    <button  md-raised-button color="accent" class="white-text" [routerLink]="['/user/detail/1']" flat>User 1</button>
</md-toolbar>
<router-outlet> </router-outlet>
